$primaryColor: #1e90ff;
$darkColor: #202020;
$lightColor: #f0f0f0;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
}

body {
	background: $lightColor;
	color: $darkColor;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

main {
	padding: 10px;
	height: 50vh;
	width: 360px;
}

form {
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	#longUrl {
		margin-bottom: 1rem;
		padding: 10px;
		width: 100%;
	}

	#shortUrlBtn {
		appearance: none;
		border: none;
		padding: 10px 15px;
		background: #1e90ff;
		color: $lightColor;
		font-size: 1rem;
		cursor: pointer;
	}

	@media screen and (max-width: 540px) {
		#shortUrlBtn {
			width: 100%;
		}
	}
}
#shortedUrl {
	margin-bottom: 2rem;
	text-align: center;
	a {
		color: $primaryColor;
	}
}
#qrcode {
	display: grid;
	place-items: center;
}
